@charset "UTF-8";

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 900;
  src: url(../../fonts/Montserrat-Bold.ttf) format('truetype');
}

/* Common Style */
* { margin: 0; padding: 0; }
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font,
img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { 
	line-height: 1.5; border: 0 none; 
}
body { 
	background: #fff;
	min-height: 320px;
	margin: 0 auto;
	font-family: 'Montserrat-Regular', sans-serif;
	word-break: normal;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
header, h1 { font-size: 100%; }
html, body { height: 100%; }
caption,legend { visibility:hidden; overflow:hidden; width:0; height:0; font-size:0;line-height:0; }
caption { display: none; }
img { border: none; vertical-align: top; }
select, input { vertical-align: top; border: 0px; border-radius: 0; background-color: transparent; }
hr { display: none; border: 0 none; }
ol, ul, ul li{ list-style: none; }
em { font-style: normal; }
menu li { list-style: none; }
address { display: inline; font-style: normal; }
button { appearance: none; cursor: pointer; border: 0px; background-color: transparent; border-radius:0; }
table {border-collapse:collapse;border-spacing:0;}
input, textarea, keygen, select, button, a {
	font-family: 'Montserrat-Regular', sans-serif; border-radius: 0 !important;}
input:focus, select:focus, textarea:focus, button:focus {
	box-shadow: none !important;
	border-color: #7571f9 !important;
}
textarea {
	resize: none;
	border: 1px solid #ced4da;
	padding: 5px;
}
textarea::placeholder {
  color: rgb(84, 84, 84);
  font-size: 16px;
}
strong { font-weight: normal; }
dfn { font-style: normal; }
i, b, u, s {
font-style: inherit;
font-family: inherit;
font-weight: inherit;
text-decoration: none;
}

/* link Style */
a:link, a:visited, a:active, a:focus { text-decoration: none; }
a:hover { text-decoration: none; }

/*font / text */
.font-regular { font-family: 'Montserrat-Regular' }
.font-medium { font-family: 'Montserrat-Medium';}
.font-bold {font-family: 'Montserrat-Bold';}

.header-right .member-name {
	margin-bottom: 0;
	font-size: 14px;
}

/*-------------------------
[ bxslider ]
---------------------------*/

.slider-area { position:relative; margin:0 auto; padding:5px;}

.block-slider{
	border:none;
	width: 100%;
}

.block-slider .bx-viewport{
	height: 348px;
}
.block-slider ul li{
	/*width: 1150px !important;*/
}
.block-slider .bx-pager{
	display: none;
}
.block-slider .bx-prev,
.block-slider .bx-next{
	width: 32px;
	height: 32px;
	border: 1px solid #eaeaea;
	text-align: center;
	display: block;
	border-radius: 50%;
	font-size: 30px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 29px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.block-slider img{
	width: 100%;
	height: auto;
}
.block-slider .bx-prev{
	left: 0px;
	padding-right: 3px;
}
.block-slider .bx-next{
	right: 0px;
	padding-left: 3px;
}
.block-slider:hover .bx-prev{
	left: 10px;
}
.block-slider:hover .bx-next{
	right: 10px;
}
.block-slider .bx-prev:hover,
.block-slider .bx-next:hover{
	background: #7571f9 !important;
	color: #fff;
	border-color: #7571f9;
}

.block-slider .bx-pager{
	display: block;
    text-align: center;
    margin-top: 20px;
}
.block-slider .bx-pager-item{
	width: 15px;
	height: 15px;
	background: #fff;
	font-size: 0;
	display: inline-block;
	border-radius: 50%;
	margin: 0 3px;
}
.block-slider .bx-pager-item a{
	width: 100%;
	height: 100%;
	background: #999;
	display: block;
	border-radius: 50%;
}
.block-slider .bx-pager-item a.active{
	background: #7571f9;
}
.block-slider .caption-group{
	position: absolute;
    top: 26%;
    right: 16%;
}
.block-slider .caption-group .title{
	margin: 0;
}
.block-slider .caption-group .subtitle{
	margin: 0;
	margin-top: 5px;
}
.block-slider .caption-group .button-radius{
	margin-top: 27px;
}
.block-slider .caption-group .primary{
	color: #7571f9;
}

/*-------------------------
[ search-header ]
---------------------------*/
#quickSearch {
	width: 400px;
    background: #fff;
    border: 2px solid #7571f9;
    clear: left;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 63px;
}

#quickSearch .result {
	float: left;
    position: relative;
}

#quickSearch table.searchTable {
    height: 200px;
    border-collapse: collapse;
    margin: 15px 0 10px 15px;
    font-size: 12px;
}

/*-------------------------
[ quick-menu ]
---------------------------*/

.quick-menu-area {
	max-width: 1000px;
    margin: 30px auto;
    flex: 1 0 auto;
}

.quick-menu-area ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 13px;
    padding-right: 13px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
}

.quick-menu-area .quick-menu-list a {
	    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.quick-menu-area .quick-menu-list .quick-menu-shape {
	-webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: 44px;
    width: 44px;
}

.quick-menu-area .quick-menu-list .quick-menu-image {
	top: 0;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left: 50%;
    position: absolute;
    width: 44px;
    height: 44px;
}

.quick-menu-area .quick-menu-list .quick-menu-label {
	font-size: 13px;
    line-height: 1.23;
    color: #525a61;
    min-width: 76px;
    text-align: center;
    word-break: keep-all;
    margin-top: 8px;
}

.section-title {
	max-width: 1000px;
    margin: 0 auto;
    padding: 0 8px 25px 0;
    font-size: 20px;
    font-weight: bold;
}

/*-------------------------
[ owl carousel ]
---------------------------*/

.owl-nav .owl-prev {
	border-radius: 50px !important;
    background: #fff !important;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0.8px 3px;
    transition: opacity 0.1s ease 0s;
    cursor: pointer;
    opacity: 0.95;
    position: absolute;
    left: -60px;
    top: 140px;
    outline: none;
}

.owl-nav .owl-next {
	border-radius: 50px !important;
    background: #fff !important;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 0.8px 3px;
    transition: opacity 0.1s ease 0s;
    cursor: pointer;
    opacity: 0.95;
    position: absolute;
    right: -60px;
    top: 140px;
    outline: none;
}

.owl-nav .owl-prev span, .owl-nav .owl-next span {
	font-size: 28px;
    line-height: 5px;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
	background: #BB9DCF !important;
	color: #fff !important;
}

.owl-dots {
	display: none;
}

/*-------------------------
[ book-info ]
---------------------------*/

.owl-item .item img {
    width: 125px;
    display: block;
    width: 150px;
    height: 200px;
    margin: 0 20px;
}
.book-info {
    margin: 16px 20px;
}

.book-info .book-title {
	margin: 4px 0;
    width: 150px;
    min-height: 16px;
    max-height: 35px;
    _height: 16px;
    overflow: hidden;
    word-break: break-all;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.book-info .book-title a {
 	overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    word-break: keep-all;
}

.book-info .book-publish {
    display: block;
    margin: 6px 0;
    width: 150px;
    height: 15px;
    line-height: 15px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.book-info .book-price {
    margin-top: 8px;
    color: #333;
    font-weight: bold;
}

.book-info .book-price .bp-price {
    font-size: 14px;
    vertical-align: -1px;
}

.bestseller-area {
	width: 1005px;
	margin: 50px auto 30px;
    flex: 1 0 auto;
}
.bestseller-area > div {
	width: 1050px;
    margin: 0 auto;
}

.bestseller-area ul {
	display: grid;
    grid: repeat(3,94px) / auto-flow 308px;
    grid-column-gap: 13px;
    padding: 0 24px;
}

.bestseller-area .bestseller-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: content-box;
}

.bestseller-area .bestseller-list a {
	-webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-right: 24px;
}
.bestseller-area .bestseller-list .bestseller-content {
	width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bestseller-area .bestseller-list .bestseller-content h3{
	height: 22px;
    margin-right: 21px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.bestseller-area .bestseller-list .bestseller {
	width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.bestseller-area .bestseller-list .bestseller .book-title, 
.bestseller-area .bestseller-list .bestseller .book-publish {
	overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    white-space: normal;
    word-break: keep-all;
}

/*-------------------------
[ footer ]
---------------------------*/

footer {
	background: #F3F3F9 !important;
}
.footer {
	background: #F3F3F9 !important;
	margin-top: 100px !important;
	padding-left: 0;
	text-align: center;
	padding: 20px 0 10px 0;
}

.footer .copyright {
	padding: 0;
	margin: 0.9375rem;
}
.footer .copyright p{
	background: #F3F3F9 !important;
	font-size: 12px;
}


/*-------------------------
[ recent sticky ]
---------------------------*/

#sticky {
	position: fixed;
    top: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: calc(50% - 687px);
    z-index: 100;
    margin-top: 10px;
    width: 90px;
}

#sticky .recent {
	border: 1px solid #d8d8d8;
    background-color: #f5f5f5;
    font-size: 12px;
    min-height: 184px;
}

#sticky .recent h3 {
	display: block;
    width: 90px;
    height: 28px;
    line-height: 29px;
    overflow: hidden;
    text-indent: 10px;
    letter-spacing: -1px;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    background-color: #f98585;
    margin: 0;
    font-weight: bold;
}
#sticky .recent ul {
	position: relative;
    z-index: 1;
     padding: 5px;
}

#sticky .recent ul li {
	padding: 5px 0px; background-image: none;
}

#sticky .recent > p {
	text-align: center;
}

/*-------------------------
[ form ]
---------------------------*/

.form-group {
	margin-bottom: 10px !important;
}

.radio-inline {
	margin-bottom: 0 !important;
}

.wrap-profile .form-group, .wrap-detailBook .form-group {
	align-items: center;
}

/* jquery validate 사용 시 error 메세지 */
form .error {
    color: #ff5e5e !important;
    margin-top: 0.25rem;
    font-size: 80%;
    font-weight: 400;
}

/*-------------------------
[ breadcrumb ]
---------------------------*/
.page-titles {
	background: transparent;
}

.page-titles .breadcrumb {
	float: left;
	font-size: 0.775rem;
}

/*-------------------------
[ Goods List ]
---------------------------*/
.books-list table {
	table-layout: fixed;
	font-size: 12px;
}

.books-list table td{
	vertical-align: top;
}

.books-list .goods-img {
	position: relative;
    padding: 20px 0 20px 0;
    text-align: center;
}

.books-list .goods-count {
	display: block;
    padding-bottom: 7px;
    text-align: center;
}

.books-list .goods-infogrp {
	padding: 40px 10px 0px 20px;;
}

.books-list .goods-infogrp .goods-title {
    font-size: 14px;
    line-height: 1.3;
    color: #505050;
    margin-top: 9px;
}

.books-list .goods-infogrp .goods-info {
    margin-top: 9px;
    color: #676767;
}

.books-list .goods-infogrp .good-price {
    margin-top: 9px;
    color: #333;
}

.books-list .goods-infogrp .good-price .price {
	font-size: 20px;
}

.books-list .goods-selling {
	margin-top: 7px;
    display: block;
    line-height: 20px;
    color: #666;
}

.books-list .goods-btn,
.custom-list .cart-btn {
	padding: 40px 0;
    color: #666;
    display: grid;
    text-align: center;
}

.books-list .goods-btn input {
	border: 1px solid #ccc;
    padding: 2px 0 2px 10px;
}

.books-list .goods-division {
	border: 1px dashed #ccc;
}

/*-------------------------
[ Book Detail ]
---------------------------*/
.wrap-details {
    margin: 30px auto 0;
    width: 960px;
    text-align: left;
}

.wrap-details .details-left{
	float: left;
    width: 250px;
}

.wrap-details .details-right{
	float: right;
    width: 680px;
}

.wrap-details .book-info-top {
	position: relative;
    z-index: 2;
    padding-bottom: 25px;
    border-bottom: solid 1px #d8d8d8;
}

.wrap-details .book-info-top .book-title {
    display: block;
    padding-bottom: 10px;
    line-height: 1.7em;
    font-weight: normal;
}

.wrap-details .book-info-top .book-title h2 {
	margin-right: 2px;
    line-height: 1.2em;
    color: #333;
    font-size: 23px;
    font-weight: 600;
    display: inline;
}

.wrap-details .book-info-top .book-pubgrp {
	display: block;
    line-height: 20px;
    color: #666;
} /*안써도 될듯*/

.wrap-details .book-info-top .book-selling {
	display: flex;
}

.wrap-details .divi {
   	margin: 4px 4px 0 4px;
    width: 1px;
    height: 12px;
    text-indent: -999em;
    border-right: solid 1px #aaa;
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}

.wrap-details .book-info-bot {
	float: left;
    padding: 19px 0 0 0;
    width: 430px;
}
.wrap-details .book-info-bot table,
.custom-list table{
	font-size: 12px;
}

.wrap-details .book-info-bot table th {
	padding: 6px 0 6px;
    line-height: 18px;
    color: #666;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.wrap-details .book-info-bot table th.price {
    font-weight: bold;
    color: #333;
}

.wrap-details .book-info-bot table td {
    padding: 5px 0 6px;
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #666;
    text-align: left;
}

.wrap-details .book-info-bot .sales-price {
	font-size: 14px;
}

.wrap-details .book-info-bot .sales-price em {
	font-size: 20px;
    vertical-align: -4px;
}

.wrap-details .book-action {
	position: relative;
    float: right;
    width: 220px;
    background-color: #eee;
    padding: 15px;
}

.wrap-details .book-action .book-quantity{
	position: relative;
    padding: 5px 0;
}

.wrap-details .book-action .book-quantity dt{
    position: absolute;
    left: 0;
    top: 5px;
    line-height: 22px;
    font-size: 12px;
    color: #666;
}

.wrap-details .book-action .book-quantity dd,
.books-list .book-quantity {
    position: relative;
    margin: 0 0 0 56px;
}

.wrap-details .book-action .book-quantity span,
.books-list .book-quantity span,
.custom-list .book-quantity span{
	display: inline-block;
    width: 59px;
   	height: 24px;
}

.wrap-details .book-action .book-quantity span input,
.books-list .book-quantity span input,
.custom-list .book-quantity span input{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    border: none;
    border-color: transparent;
    font-size: 12px;
    color: #333;
    -webkit-appearance: none;
    border-radius: 0;
    outline-style: none;
    background-color: #fff;
    vertical-align: top;
    text-align:center;
}

.wrap-details .book-action .book-quantity dd button,
.books-list .book-quantity button{
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.wrap-details .book-action .book-quantity dd button.minus,
.books-list .book-quantity button.minus{
    left: -23px;
    background-position: -30px -300px;
}

.wrap-details .book-action .book-quantity dd button.plus,
.books-list .book-quantity button.plus{
    left: 58px;
    background-position: 0 -300px;
}

.wrap-details .book-action .btn-grp{
	display: block;
	text-align: center;
}

.wrap-details .details > div {
	margin: 30px 0;
}


/*-------------------------
[ cart ]
---------------------------*/
.custom-list .book-quantity {
	padding: 60px 0;
    color: #666;
    display: inline-grid;
    text-align: center;
}
.calc-table {
	position: relative;
    margin-bottom: 20px;
    border: solid 1px #7571f9;
    background-color: #F3F1FA;
}

.calc-table th {
	position: relative;
    padding: 15px 0 5px 0;
    line-height: 20px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 13px;
}

.calc-table .sale {
	color: #3a85c8;
}

.calc-table .total {
	color: #a13b66;
    background-color: #F3F1FA;
    border-right: none;
}

.calc-table tbody td {
	position: relative;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.calc-table tbody p {
	font-size: 24px;
    vertical-align: -2px;
    letter-spacing: -1px;
}

.calc-table .total span {
	font-size: 12px;
    font-weight: normal;
    color: #666;
}

/*-------------------------
[ search ]
---------------------------*/
.period-search {
	margin: 0 23px;
    display: inline-block;
}

.period-search ul {
	width: 317px;
    display: inline-block;
    table-layout: fixed;
    margin-bottom: 0;
    margin: 7px 10px 0 7px;
}

.period-search ul li {
    width: 25%;
    display: table-cell;
    position: relative;
    z-index: 1;
    height: 28px;
    text-align: center;
}

.period-search ul li a {
	display: block;
    position: relative;
    z-index: 2;
    height: 28px;
}

.period-search .period {
	display: flex;
    vertical-align: middle;
    width: 400px;
    float: right;
    align-items: center;
}

.period-search .period span {
	margin: 0 5px;
}

.period-search .period span input {
	width: 100px;
    padding: 0px 10px;
    height: 40px;
}

.keyword-search .search-type {
	float: left;
    margin-right: 6px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}
.keyword-search input {
	margin-right: 6px;
    width: 338px;
    float: left;
    padding: 0px 10px;
    height: 40px;
}