<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMapper">

	<insert id="insertBook" parameterType="Book">
		INSERT INTO BOOK VALUES(
			SEQ_BOOKNO.NEXTVAL, #{bookType}, #{title}, #{writer}, #{publisher}, #{price}, #{salesPrice}, #{point}, 
			TO_DATE(#{publishedDate}, 'RR/MM/DD'), #{isbn}, #{deliveryPrice}, #{bookIntro}, #{writerIntro}, DEFAULT, #{status}
		)
	</insert>
	
	<insert id="insertBookImages" parameterType="BookImages">
		<selectKey keyProperty="bookNo" resultType="_int" order="BEFORE">
			SELECT SEQ_BOOKNO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO BOOKIMAGES VALUES(
			SEQ_IMAGENO.NEXTVAL, #{bookNo}, #{originFileName}, #{changeFileName}, DEFAULT,
			#{fileLevel}, DEFAULT
		)
	</insert>
	
</mapper>