<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">

	<select id="findCart" parameterType="Cart" resultType="String">
        SELECT DECODE(COUNT(*), 0, 'false', 'true') FROM CART
        WHERE BOOKNO = #{bookNo} AND USERNO = #{userNo}
	</select>
	
	<insert id="insertCart" parameterType="Cart">
		INSERT INTO CART VALUES (
			#{bookNo}, #{userNo}, SEQ_CARTNO.NEXTVAL ,#{quantity}, DEFAULT 
		)
	</insert>
	
	<select id="selectCartList" parameterType="Cart" resultType="Cart">
		SELECT * FROM CART WHERE USERNO = #{userNo} ORDER BY CARTNO DESC
	</select>
	
	<select id="selectBookList" parameterType="Book" resultType="Book">
		SELECT B.*, BI.CHANGEFILENAME
        FROM BOOK B INNER JOIN BOOKIMAGES BI ON B.BOOKNO = BI.BOOKNO
       				INNER JOIN CART C ON B.BOOKNO = C.BOOKNO
        WHERE C.USERNO = #{userNo} AND BI.FILELEVEL= 0
        ORDER BY C.CARTNO DESC 
	</select>
	
	<update id="updateCart" parameterType="Cart">
		UPDATE CART SET
		QUANTITY = #{quantity}
		WHERE USERNO = #{userNo} AND CARTNO = #{cartNo} AND BOOKNO = #{bookNo}
	</update>
	
	<delete id="deleteCart" parameterType="_int">
		DELETE FROM CART WHERE CARTNO = #{cartNo}
	</delete>
</mapper>