<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiryMapper">

	<select id="selectInquiryList" parameterType="_int" resultType="Inquiry">
		SELECT * FROM INQUIRY
             WHERE USERNO = #{userNo}
             START WITH CLEVEL = 1
	        CONNECT BY PRIOR INQUIRYNO = REFNO
	        ORDER SIBLINGS BY INQUIRYNO DESC
	</select>
	
	<select id="selectInquiryTotalContents" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM INQUIRY WHERE USERNO = #{userNo}
	</select>
	
	<insert id="insertInquiry" parameterType="Inquiry">
		INSERT INTO INQUIRY VALUES(
			SEQ_INQUIRYNO.NEXTVAL, #{userNo}, #{type}, #{title}, #{content}, DEFAULT, 'N', NULL, 1
		)
	</insert>
	
	<select id="selectOneInquiry" parameterType="Inquiry" resultType="Inquiry">
		SELECT * FROM INQUIRY WHERE USERNO = #{userNo} AND INQUIRYNO = #{inquiryNo}
	</select>
</mapper>