<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deliveryMapper">

	<select id="selectDeliveryList" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNO = PD.ORDERNO
	</select>
	
	<select id="selectDeliveryDetail" parameterType="Order" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNO = PD.ORDERNO AND P.ORDERNO = #{orderNo}
		ORDER BY PD.ORDERNUM DESC
	</select>
	
	<select id="isFinishedStatus" parameterType="Order" resultType="String">
		SELECT DECODE(DELIVERYSTATUS, 'FINISHED', 'true', 'false') FROM PAYRECORD
        WHERE ORDERNO = #{orderNo}
	</select>
	
	<update id="updatePoint" parameterType="_int">
		UPDATE MEMBER SET 
        POINT = POINT + (SELECT TOTALPOINT FROM PAYRECORD WHERE ORDERNO = #{orderNo})
        WHERE USERNO = #{userNo}
	</update>
	
	<update id="updateDeliveryStatus" parameterType="Order">
		UPDATE PAYRECORD SET
		DELIVERYSTATUS = #{deliveryStatus}
		WHERE ORDERNO = #{orderNo}
	</update>
	
</mapper>