<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deliveryMapper">

	<select id="selectDeliveryList" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNO = PD.ORDERNO
		<if test="periodFrom != null and periodTo != null">
			AND P.PAYDATE BETWEEN TO_DATE(#{periodFrom}) AND TO_DATE(#{periodTo})
		</if>
		<if test="searchType== '1w'">
			AND P.PAYDATE BETWEEN SYSDATE-7 AND SYSDATE
		</if>
		<if test="searchType == '1m'">
			AND P.PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -1) AND SYSDATE
		</if>
		<if test="searchType == '3m'">
			AND P.PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -3) AND SYSDATE
		</if>
		<if test="searchType == '6m'">
			AND P.PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -6) AND SYSDATE
		</if>
		<if test="searchType == 'orderNo' and searchKeyword != null and searchKeyword !=''">
			AND P.ORDERNO LIKE '%'|| #{searchKeyword} || '%'
		</if>
		<if test="searchType == 'orderTitle' and searchKeyword != null and searchKeyword !=''">
			AND P.ORDERTITLE LIKE '%'|| #{searchKeyword} || '%'
		</if>
		<if test="searchType == 'deliveryStatus' and searchKeyword != null and searchKeyword !=''">
			AND P.DELIVERYSTATUS LIKE '%'|| #{searchKeyword} || '%'
		</if>
	</select>
	
	<select id="selectDeliveryDetail" parameterType="Order" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNO = PD.ORDERNO AND P.ORDERNO = #{orderNo}
		ORDER BY PD.ORDERNUM DESC
	</select>
	
	<select id="isFinishedStatus" parameterType="Order" resultType="String">
		SELECT DECODE(DELIVERYSTATUS, 'FINISHED', 'true', 'false') FROM PAYRECORD
        WHERE ORDERNO = #{orderNo}
	</select>
	
	<update id="updateTotalPrice" parameterType="_int">
		UPDATE MEMBER SET 
        TOTALPRICE = TOTALPRICE + (SELECT TOTALPRICE FROM PAYRECORD WHERE ORDERNO = #{orderNo})
        WHERE USERNO = #{userNo}
	</update>
	
	<update id="updatePoint" parameterType="_int">
		UPDATE MEMBER SET 
        POINT = POINT + (SELECT TOTALPOINT FROM PAYRECORD WHERE ORDERNO = #{orderNo})
        WHERE USERNO = #{userNo}
	</update>
	
	<update id="updateDeliveryStatus" parameterType="Order">
		UPDATE PAYRECORD SET
		DELIVERYSTATUS = #{deliveryStatus},
		INVOICENO = #{invoiceNo}
		WHERE ORDERNO = #{orderNo}
	</update>
	
</mapper>