<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="resultMember" type="Member">
	</resultMap>

	<select id="checkIdDuplicate" statementType="CALLABLE" parameterType="hashmap">
		{ CALL ID_DUP_CHK( #{userId, mode=IN, jdbcType=VARCHAR}, #{result, mode=OUT, jdbcType=NUMERIC, javaType=integer} ) }
	</select>
	
	<select id="checkEmailDuplicate" statementType="CALLABLE" parameterType="hashmap">
		{ CALL EMAIL_DUP_CHK( #{email, mode=IN, jdbcType=VARCHAR}, #{result, mode=OUT, jdbcType=NUMERIC, javaType=integer} ) }
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES (
			SEQ_USERNO.NEXTVAL, 1, DEFAULT, #{userId}, #{password}, #{userName}, #{gender},
			#{tel}, #{birth}, #{email}, #{emailStatus}, #{address}, DEFAULT, DEFAULT, DEFAULT, NULL
		)
	</insert>
	
	<select id="loginMember" parameterType="string" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE USERID = #{userId}
	</select>
	
	<select id="selectOneMember" parameterType="_int" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE USERNO = #{userNo}
	</select>
	
	<update id="updateMember" parameterType="string">
		UPDATE MEMBER SET
			PASSWORD = #{password},
			TEL = #{tel},
			EMAIL = #{email},
			EMAILSTATUS = #{emailStatus},
			ADDRESS = #{address}
		WHERE USERID = #{userId}
	</update>
	
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER SET
			STATUS = 'N'
		WHERE USERNo = #{userNo}
	</update>
	
</mapper>