<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPageMapper">

	<select id="selectOrderList" parameterType="_int" resultType="Order">
		SELECT * FROM PAYRECORD WHERE USERNO = #{userNo} ORDER BY PAYDATE DESC, ORDERNO DESC
	</select>
	
	<select id="selectOrderTotalContents" resultType="_int">
		SELECT COUNT(*) FROM PAYRECORD
	</select>
	
	<select id="selectOrderDetailList" parameterType="Order" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNO = PD.ORDERNO AND P.ORDERNO = ${orderNo} AND P.USERNO = #{userNo}
		ORDER BY PD.ORDERNUM DESC
	</select>
	
</mapper>