<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

	<insert id="insertPayRecord" parameterType="Order">
		INSERT INTO PAYRECORD VALUES (
			#{orderNum}, #{userNo}, #{bookNo}, #{orderTitle}, #{ordererName}, #{totalQuantity},
			#{totalPrice}, #{totalPoint}, #{receiverName}, #{receiverEmail}, #{receiverTel}, #{deliveryAddr},
			DEFAULT, DEFAULT, DEFAULT
		)
	</insert>
	
	<insert id="insertPayDetail" parameterType="OrderDetail">
		<selectKey keyProperty="orderNum" resultType="String" order="BEFORE">
			SELECT ORDERNUM 
        	FROM(SELECT * FROM PAYRECORD ORDER BY ROWNUM DESC)
        	WHERE ROWNUM = 1
		</selectKey>
		INSERT INTO PAYDETAIL VALUES(
			SEQ_ORDERNO.NEXTVAL, #{orderNum}, #{bookNo}, #{title}, #{salesPrice}, #{quantity}, #{point}
		)
	</insert>
	
	<select id="findOrderNum" resultType="String">
		SELECT ORDERNUM 
        FROM(SELECT * FROM PAYRECORD ORDER BY ROWNUM DESC)
        WHERE ROWNUM = 1
	</select>
	
	<select id="selectOnePayRecord" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNUM = PD.ORDERNUM AND PD.ORDERNUM = #{orderNum} AND P.USERNO = ${userNo}
		ORDER BY PD.ORDERNO DESC
	</select>
</mapper>