<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

	<insert id="insertPayRecord" parameterType="Order">
		INSERT INTO PAYRECORD VALUES (
			SEQ_ORDERNO.NEXTVAL, #{userNo}, #{bookNo}, #{orderTitle}, #{ordererName}, #{totalQuantity},
			#{totalPrice}, #{totalPoint}, #{receiverName}, #{receiverEmail}, #{receiverTel}, #{deliveryAddr},
			DEFAULT, DEFAULT, DEFAULT, #{usePoint}
		)
	</insert>
	
	<update id="updateMemberPoint" parameterType="Order">
		UPDATE MEMBER SET POINT = POINT - #{usePoint} WHERE USERNO = #{userNo}
	</update>
	
	<insert id="insertPayDetail" parameterType="OrderDetail">
		<selectKey keyProperty="orderNo" resultType="_int" order="BEFORE">
			SELECT SEQ_ORDERNO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO PAYDETAIL VALUES(
			SEQ_ORDERNUM.NEXTVAL, #{orderNo}, #{bookNo}, #{title}, #{salesPrice}, #{quantity}, #{point}, #{gradePoint}
		)
	</insert>
	
	<delete id="deleteBooksFromCart" parameterType="Order">
		DELETE FROM CART WHERE BOOKNO = #{bookNo} AND USERNO = #{userNo}
	</delete>
	
	<update id="updateBookStock" parameterType="Order">
		UPDATE BOOK SET STOCK = STOCK - #{quantity} WHERE BOOKNO = #{bookNo}
	</update>
	
	<select id="selectOrderList" parameterType="Order" resultType="Order">
		SELECT ROWNUM, A.* 
		FROM ( SELECT * FROM PAYRECORD 
				WHERE USERNO = #{userNo}
				<if test="periodFrom != null and periodTo != null">
					AND PAYDATE BETWEEN TO_DATE(#{periodFrom}) AND TO_DATE(#{periodTo})
				</if>
				<if test="searchType== '1w'">
					AND PAYDATE BETWEEN SYSDATE-7 AND SYSDATE
				</if>
				<if test="searchType == '1m'">
					AND PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -1) AND SYSDATE
				</if>
				<if test="searchType == '3m'">
					AND PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -3) AND SYSDATE
				</if>
				<if test="searchType == '6m'">
					AND PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -6) AND SYSDATE
				</if>
				<if test="searchType == 'title' and searchKeyword != null and searchKeyword !=''">
					AND ORDERTITLE LIKE '%'|| #{searchKeyword} || '%'
				</if>
				<if test="searchType == 'receiver' and searchKeyword != null and searchKeyword !=''">
					AND RECEIVERNAME LIKE '%'|| #{searchKeyword} || '%'
				</if>
				<if test="searchType == 'orderNo' and searchKeyword != null and searchKeyword !=''">
					AND ORDERNO LIKE '%'|| #{searchKeyword} || '%'
				</if>  
				ORDER BY PAYDATE DESC, ORDERNO DESC
			) A
	</select>
	
	<select id="selectOrderTotalContents" resultType="_int">
		SELECT COUNT(*) FROM PAYRECORD WHERE USERNO = #{userNo}
			<if test="searchType== '1w'">
				AND PAYDATE BETWEEN SYSDATE-7 AND SYSDATE
			</if>
			<if test="searchType == '1m'">
				AND PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -1) AND SYSDATE
			</if>
			<if test="searchType == '3m'">
				AND PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -3) AND SYSDATE
			</if>
			<if test="searchType == '6m'">
				AND PAYDATE BETWEEN ADD_MONTHS(SYSDATE, -6) AND SYSDATE
			</if>
			<if test="searchType == 'title' and searchKeyword != null and searchKeyword !=''">
				AND ORDERTITLE LIKE '%'|| #{searchKeyword} || '%'
			</if>
			<if test="searchType == 'receiver' and searchKeyword != null and searchKeyword !=''">
				AND RECEIVERNAME LIKE '%'|| #{searchKeyword} || '%'
			</if>
			<if test="searchType == 'orderNo' and searchKeyword != null and searchKeyword !=''">
				AND ORDERNO LIKE '%'|| #{searchKeyword} || '%'
			</if>
	</select>
	
	<select id="selectOrderDetailList" parameterType="Order" resultType="Order">
		SELECT P.*, PD.* 
		FROM PAYRECORD P, PAYDETAIL PD
		WHERE P.ORDERNO = PD.ORDERNO AND P.ORDERNO = #{orderNo} AND P.USERNO = #{userNo}
		ORDER BY PD.ORDERNUM
	</select>
	
	<select id="eachBookSalesCount" parameterType="OrderDetail" resultType="_int">
	   SELECT NVL(SUM(P.QUANTITY), 0)
		FROM PAYDETAIL P, BOOK B
		WHERE P.BOOKNO = B.BOOKNO AND P.BOOKNO = #{bookNo}
	</select>
	
	<select id="oneBookSalesCount" parameterType="_int" resultType="_int">
	   SELECT NVL(SUM(P.QUANTITY), 0)
		FROM PAYDETAIL P, BOOK B
		WHERE P.BOOKNO = B.BOOKNO AND P.BOOKNO = #{bookNo}
	</select>
	
</mapper>