<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

	<insert id="insertPayRecord" parameterType="Order">
		INSERT INTO PAYRECORD VALUES (
			SEQ_ORDERNUM.NEXTVAL, #{orderNo}, #{userNo}, #{bookNo}, #{orderTitle}, #{ordererName}, #{quantity},
			#{totalPrice}, #{totalPoint}, #{receiverName}, #{receiverEmail}, #{receiverTel}, #{deliveryAddr},
			DEFAULT, DEFAULT, DEFAULT
		)
	</insert>
	
	<select id="selectOnePayRecord" resultType="Order">
		SELECT * FROM PAYRECORD WHERE ORDERNO = #{orderNo} AND USERNO = ${userNo}
	</select>
</mapper>