<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

	<select id="selectOneOrder" parameterType="_int" resultType="OrderDetail">
		SELECT PD.*, B.WRITER, B.PUBLISHER, B.PUBLISHEDDATE, BI.CHANGEFILENAME
		FROM PAYDETAIL PD INNER JOIN BOOK B ON PD.BOOKNO = B.BOOKNO
							INNER JOIN BOOKIMAGES BI ON B.BOOKNO = BI.BOOKNO
		WHERE PD.ORDERNUM = #{orderNum} AND BI.FILELEVEL= 0
	</select>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW VALUES(
			SEQ_REVIEWNO.NEXTVAL, #{orderNum}, #{orderNo}, #{userNo}, #{bookNo}, #{content}, #{rating}, DEFAULT
		)
	</insert>
	
	<select id="isExistReview" parameterType="Review" resultType="string">
		SELECT DECODE(COUNT(*), 0, 'FALSE', 'TRUE') FROM REVIEW
        WHERE ORDERNUM = #{orderNum} AND ORDERNO = #{orderNo} AND USERNO = #{userNo}
	</select>
	
	<select id="eachBookReviewCount" parameterType="Review" resultType="_double">
		SELECT COUNT(R.RATING) REVIEWCOUNT
		FROM REVIEW R, BOOK B
		WHERE R.BOOKNO = B.BOOKNO AND R.BOOKNO = #{bookNo} AND B.TYPE = #{type}
	</select>
	
	<select id="eachBookReviewAvg" parameterType="Review" resultType="_double">
		SELECT NVL(ROUND(AVG(R.RATING), 1), 0) RATING
		FROM REVIEW R, BOOK B
		WHERE R.BOOKNO = B.BOOKNO AND R.BOOKNO = #{bookNo} AND B.TYPE = #{type}
	</select>
	
	<select id="selectOneBookReivewList" parameterType="_int" resultType="Review">
		SELECT ROWNUM, A.*
         FROM (SELECT SUBSTR(M.USERID,1,1) || LPAD('*',LENGTH(M.USERID)-2,'*') || SUBSTR(M.USERID, LENGTH(M.USERID), 1) USERID, 
				R.CONTENT, R.RATING, R.CREDATE
				FROM REVIEW R INNER JOIN MEMBER M ON R.USERNO = M.USERNO
				WHERE R.BOOKNO = #{bookNo}
				ORDER BY R.REVIEWNO DESC
		) A
	</select>
	
	<select id="selectBookTotalContents" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE BOOKNO = #{bookNo}
	</select>
	
	<select id="oneBookAvgRating" parameterType="_int" resultType="_double">
		SELECT ROUND(AVG(RATING), 1) FROM REVIEW WHERE BOOKNO = #{bookNo}
	</select>
	
	<select id="oneBookReviewCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE BOOKNO = #{bookNo}
	</select>
	
</mapper>