<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 마이바티스 DB 연결 시 설정할 내용을 작성 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>

    	<typeAlias type="com.kh.bookpickple.member.model.vo.Member" alias="Member" />
    	<typeAlias type="com.kh.bookpickple.manager.book.model.vo.Book" alias="Book" />
    	<typeAlias type="com.kh.bookpickple.manager.book.model.vo.BookImages" alias="BookImages" />
    	<typeAlias type="com.kh.bookpickple.cart.model.vo.Cart" alias="Cart" />
    	<typeAlias type="com.kh.bookpickple.order.model.vo.Order" alias="Order" />
    	<typeAlias type="com.kh.bookpickple.order.model.vo.OrderDetail" alias="OrderDetail" />
    	<typeAlias type="com.kh.bookpickple.review.model.vo.Review" alias="Review" />
    	
  	</typeAliases>
  
</configuration>




